.body {
  text-align: center;
}


.body-link {
  color: #ffffff;
}





.topnav {
  overflow: visible;
  margin: 0 auto;
  position: fixed;
  background-color: #111;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /*background-color: #ddd;*/
  color: gray;
}




