.body {
  text-align: center;
  margin: auto;
  width: 100%;

  padding: 10px;
}


.body-link {
  color: #ffffff;
}





.topnav {
  overflow: visible;
  margin: 0 auto;
  position: fixed;
  background-color: #111;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /*background-color: #ddd;*/
  color: gray;
}




.map {
  object-fit: contain;
  width: 100%;
  height: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  height: 200px;
  width: 33.333%;

}


